<style>

.container{
    background-color: violet;
}
.container{
    background-color: rgb(87, 60, 27);
    display: flex;
    height: 700px;
    /* flex-direction: row;
    /* padding-bottom: 550px; */
    /* justify-content:center;
    align-items: center;
     */ 
    
}
#tcd{
   
    height: 200px;
    width: 200px;
    margin-bottom: 400px;
    margin-left: 100px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: start;
}

.container-item{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: cornsilk;
    width: 150px;
      margin: 26px;  
    height: 30px;
     padding-top: 15px;  
    /* margin-top: 250PX; */
}

#container2{
    display: flex;
    background-color: crimson;
    flex-direction: column;
}







</style>