 .main{
     
    background-color:  #672a0d;
    background: linear-gradient( to bottom, #923e15, #56250e,#230d03,black,black);
 }
#cover{
    display: flex;
    position: relative;
    left: 115px;
    top: 94px;
}

#title{
    display: flex;
    position: relative;
    color: white;
    /* left: 350px; */
    padding-left: 343px;
    bottom: 76px;
    font-size: 75px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.06em;
    
}

#artist{
    display: flex;
    position:relative;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    padding-left:386px ;
    /* left: 380px; */
    bottom: 128px;
}
/* 
.container{
    

.content{
  
} */

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 72px 160px;
}
.content{
     /* background-color: red;  */
    margin: 10px;
    width: 247px;
    height: 128px;
    box-shadow: 10px 10px -10px -10px white;
   
}
.tracktitle{
    position: relative;
    left: 103px;
    bottom: 71px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;

}

.cover{
    position:relative;
    margin: 10px;
    cursor: pointer;
}
.credits{
    color: white;
    font-family: 'Work Sans', sans-serif;
    color: #ffeded9c;
    position: relative;
    left: 123px;
    bottom: 84px;
    font-size: 13px;
    cursor: pointer;
}



